<div class="header" role="banner">
  {% if pages["_meta"].meta.logo %}
  <div class="logo">
      <a href="{{ base_url }}">
          <img src="{{ base_url }}/{{ pages["_meta"].meta.logo|url }}" alt="Logo" class="logo-image" />
      </a>
  </div>
  {% endif %}

  <div class="title">
      <a href="{{ base_url }}">
          <h1>{{ site_title }}</h1>
      </a>
  </div>

  <!-- Hamburgermeny toggle -->
  <a class="nav-toggle" id="nav-toggle" title="Toggle Menu" role="button" aria-controls="nav" aria-expanded="false" tabindex="1">
      <i class="fa fa-bars" aria-hidden="true"></i>
      <span class="sr-only">Toggle Menu</span>
  </a>

  <nav class="nav" role="navigation">
      <ul>
          {% for page in pages(depthOffset=-1) if page.title and not page.hidden %}
          <li{% if page.id==current_page.id %} class="active" {% endif %}>
              <a href="{{ page.url }}">
                  {% if page.meta.icon %}
                  <i class="{{ page.meta.icon }}"></i>
                  {% else %}
                  {{ page.title }}
                  {% endif %}
              </a>
          </li>
          {% endfor %}
      </ul>
  </nav>
</div>

<!-- Script för hamburgermeny toggle -->
<script>
document.getElementById('nav-toggle').addEventListener('click', function () {
  const nav = document.querySelector('.nav');
  const isExpanded = this.getAttribute('aria-expanded') === 'true';

  // Toggle the visibility of the navigation
  nav.classList.toggle('show');

  // Toggle the aria-expanded attribute for accessibility
  this.setAttribute('aria-expanded', !isExpanded);
});
</script>
