<div class="footer">
  <div>
    <p class="footer-p">&copy; Sandra Jakobsson 2024</p>
  </div>
  <div class="social">
    <!-- Loads from FontAwesome (themes/shared/css/font-awesome.min.css) -->
    {% for social in pages["_meta"].meta.social %}
    <a href="{{ social.url }}"
       title="{{ social.title }}"
       aria-label="{{ social.title }}"
       role="button">
      <i class="{{ social.icon }}" aria-hidden="true"></i>
      <span class="sr-only">{{ social.title }}</span>
    </a>
    {% endfor %}
  </div>

  <div class="darkmode">
    <a href="?action=session_destroy"
       title="Radera session"
       aria-label="Radera session"
       role="button">
      <i class="fas fa-trash" aria-hidden="true"></i>
      <span class="sr-only">Radera session</span>
    </a>
    <a href="?action=theme"
       title="Byt till mörkt läge"
       aria-label="Byt till mörkt läge"
       role="button">
      <i class="fas fa-moon" aria-hidden="true"></i>
      <span class="sr-only">Byt till mörkt läge</span>
    </a>
  </div>
</div>
