{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="landingpage">
          {{ content }}
          {# {{ dump(meta) }} #}
          {# {{ dump(base_url) }} #}

          {% for tech in meta.techs %}
            <div class="box {{ tech.class }}">
              <button onclick="window.location.href='{{ base_url }}/technology/{{ tech.class }}'" class="tech-link">
                <h2>{{ tech.name }}</h2>
              </button>
            </div>
          {% endfor %}

        </div>
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>
